* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.menu{
    background-color: #123C50;
    margin: auto;
    padding:15px 10px 15px 10px;
    text-align: center;
}
.menu a{
    padding: 14px 100px;
    text-decoration: none;
    font-size: 25px;
    color:#f0f8ff;
}

.hero-image{
    background-image: url("./sea\ ​_turtle.jpg") ;
    height:700px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.199); 
    background-blend-mode: lighten; 
}
.right-align {
  text-align: center;
  margin-left: 50%;
  width: 50%;
  color: aliceblue;
  
}
h1{
    font-size: 100px;
    margin: 0;
}
#hero-text{
    font-size: 50px;
}
.home_purpose{
    padding-top: 50px;
    text-align:center;
    font-size: 30px;
}
.container {
  display: flex;      
  gap: 15px;           
  width: 100%;
  padding-top:20px;
}      
.home_short_info{
    margin: 50px;
    padding: 50px;
    flex: 1;
    border: 5px solid;
    background-color: #E2F1F8;
    color: black;
}
.impact_info, .prevention_info{
    text-align: center;
    margin-top: 20px;
}
.impact_info h1, .prevention_info h1{
    font-size: 40px;
}
footer{
    text-align: center;
    border-top: 3px dashed #123C50;
    padding: 30px 20px;
}
.three-column{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:100px;
    width:80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
.list{
    background-color: #E2F1F8;
    border-radius: 5px;
    font-size: 20px;
    padding:40px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.local_activities_container, .impact_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}
.activity_row{
    display: flex;
    text-align: center;
    background-color:#ebf7fc;
    gap: 20px;
    padding: 20px;
}
.local_activities_image img, .impact_image img{
    width: 250px;
    height: auto;
  border-radius:20px;
}
.info {
  flex: 1;
  text-align: left;
}